.Casa{
    background-image: url(../imagens/Fundo.jpg);
    width: 100%;
    height:700px;
    background-size: cover;
    .titulo{
        width: 100%;
        height: 100px;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
        h1{
            color: #ffffff;
            font-family: 'Pacifico', cursive;
            font-weight: 500;
        }
        button{
            width: 70px;
            height: 70px;
            border-radius: 100%;
            border: none;
            background: #000000;
            color: #ffffff;
            cursor: pointer;
            outline: none;
            &:hover{
                background-color: rgba(0, 0, 0, 0.233);
            }
            
            }
        }
 

