.Navbar {
    nav {
      width: 100%;
      height: 70px;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      .ancora{
          a{
              color: #ffffff;
              text-decoration: none;
              font-size: 16pt;
          }
      }
      #menu-hamburguer {
        width: 50px;
        height: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        span {
          width: 100%;
          height: 5px;
          background-color: white;
          border-radius: 20px;
        }
        .sumirIgualTiro{
            transform: translateX(-70vw);
        }
        .virarX1{
            transform: rotateZ(-45deg);
            transform-origin: right center;
            position: relative;
            bottom: 15px;
        }
        .virarX2{
            transform: rotateZ(45deg);
            transform-origin: right center;
            position: relative;
        }
      }
    }
    .menu {
      width: 100%;
      height: 400px;
      background-color: #000000;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transform: translateX(-100%);
      transition: 0.4s;
      position: absolute;
      top: 70px;
      left: 0;
      a {
        margin-left: 30px;
        text-decoration: none;
        color: #ffffff;
        font-size: 20pt;
      }
    }
    .ativo {
      transform: translateX(0);
    }
  }
  @media (min-width:768px){
      .Navbar{
          nav{
              .ancora{
                  display: flex;
                  width: 100%;
                  justify-content: space-around;
              }
              #menu-hamburguer{
                  display: none;
              }
          }
          .menu{
              display: none;
          }
      }
  }